*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0b0b0b;
color:#fff;
}

/* NAV */
.navbar{
display:flex;
justify-content:space-between;
padding:20px 8%;
background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
top:0;
}

.logo{
color:yellow;
font-size:26px;
font-weight:700;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
color:#fff;
text-decoration:none;
}

.nav-links a.active{
color:yellow;
}

/* HERO */
.hero{
height:100vh;
background:url("images/welding.jpg") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.hero1{
height:100vh;
background:url("images/fabric.jpg") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,0.6);
}

.hero-content{
position:relative;
max-width:700px;
}

.badge{
background:rgba(214,179,106,0.2);
padding:8px 20px;
border-radius:20px;
color:yellow;
}

h1{
font-size:48px;
margin:20px 0;
}

p{
color:#ccc;
}

.btns{
margin-top:20px;
display:flex;
gap:15px;
justify-content:center;
flex-wrap:wrap;
}

.btn{
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:#fff;
transition:0.3s;
}

.whatsapp{
background:#25D366;
}

.call{
background:yellow;
color:#000;
}

.btn:hover{
transform:translateY(-5px);
}

/* SECTIONS */
section{
padding:100px 8%;
text-align:center;
}

h2{
font-size:36px;
margin-bottom:40px;
color:yellow;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#141414;
padding:30px;
border-radius:15px;
}

.card i{
font-size:30px;
color:yellow;
margin-bottom:10px;
}

.card2{
background:#111;
padding:30px;
border-radius:15px;
}

/* GALLERY */
.images{
display:flex;
gap:15px;
flex-wrap:wrap;
justify-content:center;
}

.images img{
width:300px;
border-radius:15px;
}

/* CONTACT */
.contact{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
}

.box{
background:#141414;
padding:40px;
border-radius:15px;
text-align:center;
}

/* FOOTER */
footer{
padding:20px;
text-align:center;
background:#000;
color:#777;
}

/* MOBILE */
@media(max-width:768px){
h1{font-size:32px;}
.images img{width:100%;}
}